@import "tailwindcss";

@theme {
  /* Background */
  --color-bg-dark: #020617;
  --color-input-bg: #111827;

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #94a3b8;

  /* Border */
  --color-border: #334155;
  --color-border-focus: #64748b;

  /* Button */
  --color-button-primary: #09ad43;
  --color-button-hover: #08a33f;

  /* Link */
  --color-link: #00c853;
}
